
.pagination, .filed-container, .table-header-cell {
  display: inline-flex;
  align-items: center;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
}

.header-sort {
  display: flex;
  flex-direction: column;
}

.table-header-cell {

  mat-icon:hover {
    cursor: pointer;
    color: black !important;
  }

}
