
.pagination, .filed-container, .table-header-cell {
  display: inline-flex;
  align-items: center;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
}

.header-sort {
  display: flex;
  flex-direction: column;
}

.table-header-cell {

  mat-icon:hover {
    cursor: pointer;
    color: black !important;
  }

}

.mat-icon:hover {
  color: #005b8b;
  cursor: pointer;
}

.common-filter-container, .filter-container {
  display: inline-flex;
  align-items: center;
}

.archived {
  color: rgba(99, 99, 99, 0.5);
  background: rgba(128, 128, 128, 0.05);
}
