<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GitLab Projects</title>
  <base href=".">
  <meta name="theme-color" content="#227aef">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
</head>

<body class="page">
<h1>GitLab Projects</h1>

<div class="d-flex flex-row justify-content-between">
  <!-- Search  -->
  <div class="d-flex flex-row">
    <div class="input-group mb-3 w-50">
      <input type="text"
             class="form-control mb-3"
             placeholder="Type to search..."
             [(ngModel)]="commonFilter"
             (change)="applyFilters()"
             aria-describedby="basic-addon2">
      <div class="input-group-append">
      </div>
    </div>
    <div class="form-check m-2">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Use regular expression
      </label>
    </div>
  </div>

  <div class="d-inline-flex align-items-center">
    <div class="d-inline-flex align-items-center m-2">
      {{ this.filteredData.length }} projects
    </div>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              (click)="toggleDropdown(DropdownType.COLUMNS)"
              aria-expanded="dropdownOpen">
        <i class="bi bi-layout-three-columns"></i>
        Select columns
      </button>
      <ul class="dropdown-menu"
          [ngClass]="{'show': dropdownState.columnsOpen}"
          aria-labelledby="dropdownMenuButton">
        <li *ngFor="let option of columns">
          <div class="form-check m-2">
            <input class="form-check-input"
                   type="checkbox"
                   [id]="option.id"
                   [checked]="option.selected"
                   (change)="toggleColumnSelection(option.id)">
            <label class="form-check-label" [for]="option.id">
              {{ option.label }}
            </label>
          </div>
        </li>
        <div class="dropdown-divider"></div>
        <li>
          <div class="form-check m-2">
            <input class="form-check-input"
                   type="checkbox"
                   id="all"
                   [checked]="allColumnsSelected"
                   (change)="toggleAllColumnsSelection()">
            <label class="form-check-label">
              All
            </label>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
<!-- Pagination -->
<div class="d-flex align-items-center">
  <div class="d-flex align-items-center mx-3">
    <label class="mb-0 me-2">Rows per page:</label>
    <!-- Dropdown for selecting items per page -->
    <select class="form-control pagination-select"
            [(ngModel)]="selectedItemsPerPageOption"
            (change)="onItemsPerPageChange()">
      <option *ngFor="let option of itemsPerPageOptions"
              [ngValue]="option">
        {{ option === 'all' ? 'All' : option === 'custom' ? 'Custom' : option }}
      </option>
    </select>


    <!-- Input field for custom items per page, only shown when 'custom' is selected -->
    <div *ngIf="selectedItemsPerPageOption === 'custom'">
      <input type="number"
             min="0"
             class="form-control input-group-sm mx-2"
             [(ngModel)]="customRowsPerPage"
             (change)="onCustomRowsChange($event)"
             placeholder="Enter rows per page..."/>
    </div>
    <ng-template #allItems>
      <span>
        {{ paginatedData.length }} items
      </span>
    </ng-template>
  </div>

  <div>
    <button class="btn btn-light"
            [disabled]="currentPage === 1"
            (click)="changePage(-1)">
      <i class="bi bi-chevron-left"></i>
    </button>
    <span class="mx-2">
      Page {{ currentPage }} of {{ totalPages }}
    </span>
    <button class="btn btn-light"
            [disabled]="currentPage === totalPages"
            (click)="changePage(+1)">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>

<!-- Dynamic table rendering based on selected columns -->
<table class="table mt-4 table-bordered table-fixed">
  <thead>
  <tr class="table-primary">
    <th *ngFor="let column of getSelectedColumns()">
      <div class="flex">
        <div class="d-inline-flex align-items-center">
          <ng-container *ngIf="column.id === columnsId.KIND;">
            <div class="dropdown">
              <button class="btn btn-outline-primary btn-filter"
                      type="button"
                      id="filterDropdownButton"
                      (click)="toggleDropdown(DropdownType.KIND)"
                      aria-expanded="dropdownKindOpen">
                <i class="bi bi-funnel"></i>
              </button>
              <ul class="dropdown-menu"
                  [ngClass]="{'show': dropdownState.kindOpen}"
                  aria-labelledby="filterDropdownButton">

                <li *ngFor="let kind of possibleKinds">
                  <div class="form-check m-2">
                    <input class="form-check-input"
                           type="checkbox"
                           [id]="kind.name"
                           [checked]="kind.selected"
                           (change)="toggleKindSelection(kind.name)">
                    <label class="form-check-label" [for]="kind.name">
                      {{ kind.name }}
                    </label>
                  </div>
                </li>
                <div class="dropdown-divider"></div>
                <li>
                  <div class="form-check m-2">
                    <input class="form-check-input"
                           type="checkbox"
                           id="allKinds"
                           [checked]="allKindsSelected"
                           (change)="toggleAllKindsSelection()">
                    <label class="form-check-label">
                      All
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </ng-container>

          <ng-container *ngIf="column.id === columnsId.ERRORS;">
            <div class="dropdown">
              <button  class="btn btn-outline-primary btn-filter"
                       type="button"
                       id="filterErrorDropdownButton"
                       (click)="toggleDropdown(DropdownType.ERRORS)"
                      aria-expanded="dropdownKindOpen">
                <i class="bi bi-funnel"></i>
              </button>

              <ul class="dropdown-menu"
                  [ngClass]="{'show': dropdownState.errorsOpen}"
                  aria-labelledby="filterErrorDropdownButton">

                <li *ngFor="let error of possibleErrors">
                  <div class="form-check m-2">
                    <input class="form-check-input"
                           type="checkbox"
                           [id]="error.code"
                           [(ngModel)]="error.selected"
                           (change)="applyFilters()">
                    <label class="form-check-label" [for]="error.code">
                      {{ error.code }}
                    </label>
                  </div>
                </li>
                <div class="dropdown-divider"></div>
                <li>
                  <div class="form-check m-2">
                    <input class="form-check-input"
                           type="checkbox"
                           id="allErrors"
                           [checked]="allErrorsSelected"
                           (change)="toggleAllErrorsSelection()">
                    <label class="form-check-label">
                      All
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </ng-container>

          <ng-container *ngIf="column.id !== columnsId.ERRORS && column.id !== columnsId.KIND;">
            <input type="text"
                   [placeholder]="column.label"
                   class="form-control form-control mt-1 filter-cell"
                   [(ngModel)]="column.filter"
                   (ngModelChange)="applyFilters()">
          </ng-container>

          <ng-container *ngIf="column.id === columnsId.KIND;">
            <span class="selected-filter-item"
                  *ngFor="let kind of getSelectedKinds()">{{ kind }}</span>
          </ng-container>

          <ng-container *ngIf="column.id === columnsId.ERRORS;">
            <span class="selected-filter-item"
                  *ngFor="let error of getSelectedErrors()">{{ error }}</span>
          </ng-container>

          <div class="sorting-controls d-inline-flex">
            <button *ngIf="sortColumn === column.id && sortOrder === 'asc'"
                    (click)="sortData(column.id, 'desc')"
                    class="btn btn-outline-primary">
              <i class="bi bi-arrow-up-short arrow"></i>
            </button>
            <i *ngIf="sortColumn === column.id && sortOrder === 'desc'"
                    (click)="sortData(column.id, 'asc')"
                    class="btn btn-outline-primary">
              <i class="fa-solid bi-arrow-down-short arrow"></i>
            </i>
            <button *ngIf="sortColumn !== column.id"
                    (click)="sortData(column.id, 'asc')"
                    class="btn btn-outline-primary">
              <i class="bi bi-arrow-up-short arrow"></i>
            </button>
            <button *ngIf="sortColumn !== column.id"
                    (click)="sortData(column.id, 'desc')"
                    class="btn btn-outline-primary">
              <i class="bi bi-arrow-down-short"></i>
            </button>
          </div>
        </div>

      </div>
    </th>

    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of paginatedData"
      [ngClass]="{'archived-row': row.archived}">
    <td *ngFor="let column of getSelectedColumns()">
      {{ getRowValue(row, column.id) }}
    </td>
    <td>
      <button class="btn btn-outline-secondary btn-sm"
              (click)="viewDetails(row)">
        View Details
      </button>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>
