.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.filter-cell {
  margin-right: 10px;
}

.d-flex {
  white-space: nowrap;
}

.form-select, span {
  margin-right: 10px;
}

.pagination-select {
  width: 80px;
}

.archived-row {
  background: #858586;
}

.dropdown {
  font-weight: normal;

  li:hover {
    color: blue;
  }
}

.table-fixed {
  table-layout: fixed;
  width: 100%;
}

.selected-filter-item {
  font-weight: normal;
  background: white;
  padding: 4px 6px;
  border-radius: 8px;
  margin-bottom: 6px;
}

thead {
  .btn-filter {
    margin-right: 10px;
  }
}

.sorting-controls {
  display: flex;
  flex-direction: column;

  button, i {
    padding: 0;
    height: fit-content;
    border: none;
  }

  i {
    font-size: 22px;
  }
}

