<h1>GitLab Projects</h1>

<div class="d-flex flex-row justify-content-between">
  <!-- Search  -->
  <div class="common-filter-container">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input #inputField matInput placeholder="Type to search..."
             [value]="getValueFromCookie('commonFilter')"
             (keyup)="applyCommonFilter(inputField.value)">
    </mat-form-field>
    <mat-checkbox [checked]="getUseRegex()" (change)="useRegexChange($event)">
      Use regular expression
    </mat-checkbox>
  </div>

</div>

<div class="pagination-container">
  <!-- pagination -->
  <div class="pagination">
    <div class="filed-container">
      <mat-form-field>
        <mat-label>Items per page</mat-label>
        <mat-select [(value)]="selectedItemsPerPageOption"
                    (selectionChange)="onItemsPerPageChange()">
          <mat-option *ngFor="let option of itemsPerPageOptions" [value]="option">
            {{ option === 'all' ? 'All' : option === 'custom' ? 'Custom' : option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Input field for custom items per page, only shown when 'Custom' is selected -->
      <div *ngIf="selectedItemsPerPageOption === 'custom'">
        <mat-form-field appearance="fill">
          <mat-label>Enter items per page</mat-label>
          <input matInput type="number"
                 min="0"
                 [(ngModel)]="customRowsPerPage"
                 (change)="onCustomRowsChange($event)">
        </mat-form-field>
      </div>
      <ng-template #allItems>
  <span>
    {{ paginatedData.length }} items
  </span>
      </ng-template>
    </div>
    <!--  items per page -->
    <div>
      <button class="btn btn-light"
              [disabled]="currentPage === 1"
              (click)="changePage(-1)">
        <mat-icon aria-hidden="false"
                  aria-label="Pagination left btn"
                  fontIcon="keyboard_arrow_left">
        </mat-icon>
      </button>
      <span class="mx-2">
      {{ getPaginationStartIndex() }} - {{ getPaginationEndIndex() }} of {{ getTotalItems() }}
    </span>
      <button class="btn btn-light"
              [disabled]="currentPage === totalPages"
              (click)="changePage(+1)">
        <mat-icon aria-hidden="false"
                  aria-label="Pagination right btn"
                  fontIcon="keyboard_arrow_right">
        </mat-icon>
      </button>
    </div>
  </div>

  <div class="filter-container">
    <!--  archived todo-->
    <mat-form-field>
      <mat-label>Archived</mat-label>
      <mat-select [formControl]="archivedForm" multiple>

        <mat-select-trigger>
          {{ getSelectedArchived() }}
        </mat-select-trigger>

        <mat-option *ngFor="let type of possibleArchivedType"
                    [value]="type"
                    (click)="toggleArchivedSelection(type.name)">
          {{ type.name }}
        </mat-option>
        <mat-option value="select-all"
                    (click)="toggleAllArchivedSelection()">
          All
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--  select columns-->
    <mat-form-field>
      <mat-label>Columns</mat-label>
      <mat-select [formControl]="columnsForm" multiple>

        <mat-select-trigger>
          {{ columnsForm.value?.length ? columnsForm.value.length : '' }}/ {{ columns.length }}
        </mat-select-trigger>

        <mat-option *ngFor="let column of columns"
                    [value]="column"
                    (click)="toggleColumnSelection(column.id)">
          {{ column.label }}
        </mat-option>
        <mat-option value="select-all"
                    (click)="toggleAllColumnsSelection()">
          All
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>

<table mat-table [dataSource]="paginatedData">
  <ng-container *ngFor="let column of getSelectedColumns()"
                [matColumnDef]="column.id">
    <th mat-header-cell *matHeaderCellDef>
      <div class="table-header-cell">
        <!--  select errors  -->
        <ng-container *ngIf="column.id === 'errors'">
          <mat-form-field>
            <mat-label>Errors</mat-label>
            <mat-select [formControl]="errorForm" multiple>

              <mat-select-trigger>
                {{ getSelectedErrors() }}
              </mat-select-trigger>

              <mat-option *ngFor="let error of possibleErrors"
                          [value]="error"
                          (click)="toggleErrorSelection(error.code)">
                {{ error.code }}
              </mat-option>
              <mat-option value="select-all"
                          (click)="toggleAllErrorsSelection()">
                All
              </mat-option>
            </mat-select>
          </mat-form-field>

        </ng-container>

        <!--  select kinds  -->
        <ng-container *ngIf="column.id === 'kinds'">
          <mat-form-field>
            <mat-label>Kinds</mat-label>
            <mat-select [formControl]="kindForm" multiple>

              <mat-select-trigger>
                {{ getSelectedKinds() }}
              </mat-select-trigger>

              <mat-option *ngFor="let kind of possibleKinds"
                          [value]="kind"
                          (click)="toggleKindSelection(kind.name)">
                {{ kind.name }}
              </mat-option>
              <mat-option value="select-all"
                          (click)="toggleAllKindsSelection()">
                All
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <!-- any -->
        <ng-container *ngIf="column.id !== 'errors' && column.id !== 'kinds'">
          <mat-form-field>
            <mat-label>{{ column.label }}</mat-label>
            <input #inputField matInput [placeholder]="column.label"
                   [value]="getValueFromCookie(column.id)"
                   (keyup)="saveToCookie(column.id, inputField.value)">
          </mat-form-field>
        </ng-container>

        <!--sort-->
        <div class="header-sort">
          <mat-icon aria-hidden="false"
                    aria-label="sort up btn"
                    fontIcon="keyboard_arrow_up"
                    (click)="sortData(column.id, 'asc')"
                    [style.color]="(sortColumn === column.id && sortDirection === 'asc') ? '#005b8b' : '#d3d1d1'">
          </mat-icon>
          <mat-icon aria-hidden="false"
                    aria-label="sort down btn"
                    fontIcon="keyboard_arrow_down"
                    (click)="sortData(column.id, 'desc')"
                    [style.color]="(sortColumn === column.id && sortDirection === 'desc') ? '#005b8b' : '#d3d1d1'">
          </mat-icon>
        </div>
      </div>
    </th>

    <ng-container *ngIf="column.id !== 'errors'">
      <td mat-cell *matCellDef="let row">
        <span [innerHTML]="highlightText(getRowValue(row, column.id), column.id)"></span>
      </td>
    </ng-container>

    <ng-container *ngIf="column.id === 'errors'">
      <td mat-cell *matCellDef="let row">
        <span *ngFor="let error of getErrorValues(row)"
              [matTooltip]="error.message"
              matTooltipPosition="above">
        {{ error.code }}
      </span>
      </td>
    </ng-container>

  </ng-container>

  <!--  actions-->
  <ng-container *ngIf="getSelectedColumns().length > 0" matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <mat-label>Actions</mat-label>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-icon aria-hidden="false"
                aria-label="view info about project"
                matTooltip="View details"
                fontIcon="info"
                (click)="goToGitLabProjectDetails(row)">
      </mat-icon>
      <mat-icon aria-hidden="false"
                aria-label="view branches"
                matTooltip="View branches"
                fontIcon="polyline"
                (click)="goToBranches(row)">
      </mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="selectedColumnIds.concat(['actions'])"></tr>
  <tr mat-row *matRowDef="let row; columns: selectedColumnIds.concat(['actions'])"
      [ngClass]="{'archived': row.archived}"></tr>

</table>
