<body class="main">

<div class="container-fluid">

  <h1>GitLab projects</h1>
  <!-- Search  -->
  <div class="d-flex flex-row">

    <div class="input-group mb-3 w-50">
      <input type="text"
             class="form-control mb-3"
             placeholder="Type to search..."
             aria-describedby="basic-addon2">
      <div class="input-group-append">
      </div>
    </div>
    <div class="form-check m-2">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Use regular expression
      </label>
    </div>
  </div>

  <app-dropdown-checkbox></app-dropdown-checkbox>

</div>


</body>
